.page {
    height: 100%;
    font-family: var(--bs-font-sans-serif, var(--dxds-font-family-sans-serif));
}

::deep .content {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

::deep .icon-back {
    --icon-mask-image: var(--icon-back-mask-image);
}

::deep .icon-close {
    --icon-mask-image: var(--icon-close-mask-image);
}

::deep .icon-menu {
    --icon-mask-image: var(--icon-menu-mask-image);
}

::deep .icon-log-in {
    --icon-mask-image: var(--icon-log-in-mask-image);
}

::deep .icon-log-out {
    --icon-mask-image: var(--icon-log-out-mask-image);
}

::deep .icon-user {
    --icon-mask-image: var(--icon-user-mask-image);
}

::deep .docs-icon {
    --icon-mask-image: var(--icon-docs-mask-image);
}

::deep .demos-icon {
    --icon-mask-image: var(--icon-demos-mask-image);
}

::deep .footer-button:hover .demos-icon {
    background-color: var(--dxbl-btn-hover-color);
}

::deep .footer-button:hover .docs-icon {
    background-color: var(--dxbl-btn-hover-color);
}

::deep .menu-button:hover .icon {
    background-color: var(--dxbl-btn-hover-color);
}

::deep .menu-button-nav:hover .icon {
    background-color: var(--dxbl-btn-hover-color);
}

.panel-open .menu-button {
    display: inline-flex;
}

.menu-button-nav {
    background-image: url("images/close.svg");
    width: 1.875rem;
    height: 1.875rem;
}

.nav-buttons-container {
    display: flex;
    gap: 10px;
    padding: 2rem 1rem;
}

    .nav-buttons-container ::deep .menubutton-float-end {
        margin-left: auto;
    }

    .nav-buttons-container ::deep .dxbl-btn-icon-only {
        --dxbl-btn-padding-x: 0.75rem;
        --dxbl-btn-padding-y: 0.25rem;
    }